form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  flex-wrap: wrap;
}
input {
  margin: 1rem;
  color: #ffffff;
}
button {
  margin: 1em;

  color: #ffffff;
}
