nav {
  display: flex;
  justify-content: center;
}

li {
  display: inline-block;
  margin: 0em 5rem;
  cursor: pointer;
  font-size: 20px;
  transition: 0.7s;
}
img {
  border-radius: 50%;
  width: 2em;
  padding-top: 2em;
}
li:hover {
  color: bisque;
}
